# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Labirinto.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\PUC2021\UNITY - Projetos\Labirinto\.idea\.idea.Labirinto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
